/*
    Styles for Contractor Directory
    
*/
.contractor {
  border: 1px solid #CCCCCC;
  border-radius: 1em 1em 1em 1em;
  margin-bottom: 0.5em;
  padding: 1em;
}
.contractor:nth-child(2n+1) {
    background-color: #EEEEEE;
}

.contractor p.avatar {
    float: left;
     margin: 0;
}

.contractor div.inner{
    margin-left: 120px;
  
   }
.contractor p.display-name {
	margin:0;
	line-height: 1;
	font-size: 2em;
	color: #666666;
}

.contractor ul.skills{
	list-style:none;
	padding-bottom:2em;
	margin:0;

}
.contractor ul.skills li{
   float: left;
   padding-right: 0.6em;
   font-weight:700;
}
.contractor ul.skills li.design{
 color:#222;
}
.contractor ul.skills li.theming{
  color:#333;
}
.contractor ul.skills li.developement{
  color:#444;
}

.contractor ul.skills li.user-training{
  color:#555;
}
  
.contractor ul.contractor-social{
	list-style:none;
	margin:0;
}
.contractor ul.contractor-social li{
   float: left;
   padding-right: 0.6em;
   font-size: 0.75em;
   height:24px;
   display: inline-block;
}
.contractor ul.contractor-social li a{
	color: #666666;
padding-left:18px;
   height:16px;
   display: inline-block;
   line-height: 1.2;
   text-decoration:none;
   font-weight:700;

}
.contractor ul.contractor-social li.facebook a{
	background:url('../images/social/facebook.png') no-repeat top left;
}
.contractor ul.contractor-social li.github a{
	background:url('../images/social/github.png') no-repeat top left;
}
.contractor ul.contractor-social li.linkedin a{
	background:url('../images/social/linkedin.png') no-repeat top left;
}
.contractor ul.contractor-social li.portfolio a{
	background:url('../images/social/portfolio.png') no-repeat top left;
}
.contractor ul.contractor-social li.twitter a{
	background:url('../images/social/twitter.png') no-repeat top left;
}
.contractor ul.contractor-social li.website a{
	background:url('../images/social/website.png') no-repeat top left;
}
.contractor ul.contractor-social li.wporg a{
	background:url('../images/social/wordpress.png') no-repeat top left;
}

.contractor ul.contractor-social li a:hover,
.contractor ul.contractor-social li a:active,
.contractor ul.contractor-social li a:focus {
	color: #222;
	text-decoration:underline;
	background-position: 0 -16px; 
}



.contractor .clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}